.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialog a {
  text-decoration: none;
}
.dialog .active a {
  color: red;
}
.messages {
  padding: 10px;
}
.message {
}
